@import '../../assets/styles/variables';

.movie-grid {
  padding: 40px 0;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  &__item {
    width: 30%;
    margin: 20px 0;

    &:nth-child(3n-1) {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}