@import '../../../assets/styles/variables';

.btn {
  display: inline-block;
  border: none;
  background: #fff;
  color: $pink;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 7px 16px;

  &:hover {
    color: #fff;
    background: $pink;
    cursor: pointer;
  }

  &--link {
    padding: 0;
    background: none;
    color: $text-black;
    text-transform: none;

    &:hover, &.active {
      color: $pink;
      background: none;
    }
  }

  &--narrow {
    font-size: 14px;
    padding: 4px 7px;
  }

  &--wide {
    padding: 7px 40px;
  }

  &--gray {
    background: $gray;
    color: #fff;

    &:hover, &.active {
      background: $pink;
    }
  }

  &--pink {
    color: #fff;
    background: $pink;

    &:hover {
      background: #fff;
      color: $pink;
    }
  }
}



