@import '../../../assets/styles/variables';

.radio-button-group {
  display: flex;
  align-items: center;

  &__heading {
    color: $text-light;
    text-transform: uppercase;
    font-size: 15px;
    margin-right: 15px;

    &--sort {
      text-transform: none;
      color: $text-black;
      font-weight: 600;
    }
  }

  &__options {
    > * + * {
      margin-left: 12px;
    }
  }
}