@import '../../../assets/styles/variables';

.search-form {
  &__title {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $text-light;
    font-size: 22px;
  }

  &__input {
    margin-bottom: 15px;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}