.app {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &__main {
    flex: 1;
    display: flex;
  }
}

.header {
  &__background {
    background-image: url('./bg.jpg');
    background-size: cover;
  }

  &__shadow {
    background-color: rgba(0, 0, 0, .76);
  }

  &__inner {
    padding: 10px 0;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__content {
    margin-bottom: 20px;
  }

  &__top-bar {
    margin-bottom: 35px;
  }
}