// button color
$pink: #F55263;

//logo & titles headings
$red-pink: #DA4A5A;

$dark-gray: #3B3B3B;
$gray: #414141;

//footer bg
$footer-bg: $gray;

//input bg
$almost-black: #010101;

//content-top-bar bg
$almost-white: #F5F5F5;


//text
$text-black: $gray;
$text-dark: #575757;
$text: #939393;
$text-light: #F1F1F1;

//green
$green: #ACD97D;